*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;  
}
html,body{
    overflow-x: hidden;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
}
a{
    text-decoration: none;   
}
p{
    color: #451400;
    font-size: 13px;
}
section{
    padding: 0 15px;
}
.nav-bar{
    display: block;
    background-color: #fff;
    border-bottom: .85px solid #d4cbc7;
    height: 60px;
    padding: 0 8px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.nav-bar--right, .nav-bar--left{
    height: 100%;
    align-items: center;
    display: flex;
}
.nav-bar--mid{
    display: none;
}
.nav-bar--left{
    float: left;
}
.primary-logo{
    height: 50px;
    margin-left: 12px;
}
.nav-bar--right{
    float: right;
}
.nbr--round-box a{
    background-color: rgb(69, 20, 0);
    border-radius: 30px;
    height: 36px;
    color: #fff;
    min-width: 165px;
    padding:0 10px 0 5px;
    display: inline-flex;
    align-items: center;
}
.nbr--round-box img{
    height: 26px;
}
.c-icon{
    margin: 0 15px 0 0;
    position: relative;
    display: flex;
}
.c-icon::after{
    background-color: #fff;
    content: "";
    height: 20px;
    position: absolute;
    width: 1px;
    margin: 3px 0 0px 28px;
}
/* block hero */
.block-hero{
    padding: 0 0 64px 0;
    height: auto;
}
.bh--hero-img img{
    margin-top: 70px;
    width: 100%;
    align-items: center;
}
.bh--hero-img-desk{
    display: none;
}
.bh-b--buttons{
    display: flex;
    padding: 0 15px;
    margin-top: 10px;
}
.desk{
    display: none !important;
}
.bh-b--earning, .bh-b--order{
    color: #fff;
    display: block;
    height: 58px;
    line-height: 20px;
    overflow: hidden;
    padding: 19px 21px;
    text-align: center;
    width: 50%;
}
.bh-b--earning{
    background-color: rgb(173, 33, 24);
}
.bh-b--earning a{
    color: #fff;
    align-items: center;
}
.bh-b--order{
    background-color: #88120a;
    text-transform: uppercase;
}
/* block recommend */
.br--background{
    background-image: url(img/background-image-what-should-i-eat@3x_cropped.png);
    background-repeat: repeat;
    height: 147px;
    padding: 0;
}
.br--wsie{
    padding: 36px 15px;
    display: inline-block;
    width: 100%;
    align-self: center;
    text-align: left;
}
.br--wsie p{
    display: inline-block;
    color: #451400;
    line-height: .94;
    font: bold 24px Arial,sans-serif; 
}
.br--wsie--select-box{
    display: flex;
}
.c-what-should-I-eat__select{
    color: #b68207;
    border-bottom: 1px solid #451400;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    width: 88%;
    font: bold 1.5rem Arial,sans-serif;
    text-transform: uppercase;
}
/* block food showcase */
.bfs--container{
    height: auto;
}
.bfs--card{
    margin-bottom: 30px;
}
.bfs-c--img img{
    width: 100%;
    height: 155px;
    object-fit: cover;
}
.bfs-c--text-img{
    margin: 15px;
    border: 1px solid rgb(212, 203, 199); 
    position: relative;
}
.c-text--desc{
    padding: 20px;
}
.c-text--desc h1{
    display: inline-block;
    color: #451400;
    line-height: .94;
    font: bold 24px Arial,sans-serif; 
    margin-bottom: 16px;
}
.c-text--desc p{
    margin-bottom: 16px;
}
.c-text--button{
    text-align: center;
    width: 100%;
    align-items: center;
}
.c-t-b-order{
    width: 100%;
    background-color: #451400;
    display: block;
    color: #fff;
    padding: 8px 16px;
    font-weight: 700;
}

.brl--img img{
    height: 204px;
}
/* block real */
.block-real{
    text-align: center;
    padding: 0 !important;
}
.brl--text p{
    font-size: 16px;
    width: 100%;
    margin: 20px 0;
}
.brl--button{
    padding: 20px 20px 32px;
}
.brl-b--check{
    color: #451400;
    display: block;
    border: 2px solid #1b0800;
    font-size: 18px;
    padding: .7rem 30px;
}
.img-bg{
    background: #000;
    position: relative;
}
.group-img{
    height: 188px !important;
    opacity: .60;
}
.img-title{
left: 50%;
top: 50%;
width: 100%;
z-index: 2;
transform: translate(-50%, -50%);
position: absolute;
text-align: center;
}
.img-title p{
    color: #fff;
    font-size: 36px;
    font-weight: 700;
}
/* block finder */
.block-finder{
    background-color: #786259;
}
.bf--container{
    padding: 16px 0;
}
.bf--icon{
    display: none;
}
.bf--text{
    color: #fff;
    display: block;
    font: bold .8125rem Arial,sans-serif;
    letter-spacing: 3px;
    margin-bottom: 6px;
    padding-left: 0;
    text-transform: uppercase;
}
.bf--search{
    display: inline-block;
    margin-top: 16px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    align-items: center;
}
.bf--search input{
    border-color: #fff;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    height: 28px;
    outline: 0;
    padding-left: 0;
    padding-right: 30px;
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    display: block;
}
.bf--search label{
    color: #fff;
    font-size: 18px;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 200ms;
}
.bf-s-icon{
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: 0;
    top: -5px;
}
/* block nav footer */
h3{
    font-size: 18px;
    font-stretch: condensed;
    text-transform: uppercase;
}
.block-nav-footer{
    background-color: #1b0800;
    color: #fff;
    padding-bottom: 16px;
    padding-top: 16px;
}
.bnf--container{
    display: flex;
    flex-wrap: wrap;
}
.bnf--links{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
    flex-basis: 100%;
    color: #fff;
    font-stretch: condensed;
    width: auto;
}
.sub-header{
    margin: 24px 0 16px 0;
    padding-bottom: 8px;
}
.social-icons img{
    width: 40px;
    height: 40px;
    margin-right: 18px;
}
.platform-icons img{
    margin: 0 15px;
}
.fl--link{
    display: flex;
    flex-basis: 100%;
    align-items: flex-start;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.fl-l--sublinks{
    flex-basis: 50%;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 30px;
}
.footer-legals{
    margin-top: 30px;
}
.footer-legals a{
    color: #fff;
    padding: 8px 0;
}
.fl--div{
    margin-bottom: 12px;
}
/* responsive ipad pro */
@media only screen and (min-width: 1024px){
    section{
        padding: 0 35px;
    }
    p{
        font-size: 16px;
    }
    /* navbar */
    .nav-bar{
        height: 100px;
        padding: 0 8px;
        position: fixed;
        margin: 0 auto;
        display: flex;
    }
    .nav-bar--right{
        display: inline-flex;
    }
    .nav-bar--left span{
        display: none;
    }
    .primary-logo{
        width: 80px;
        height: 80px;
    }
    .nav-bar--mid{
        text-align: center;
        align-items: center;
        align-self: center;
        flex-grow: 1;
        display: inline;
    }
    .nbm--links{
        font-weight: 700;
        line-height: 1;
        color: #451400;
        text-transform: uppercase;
        margin: 15px 10px;
        width: auto;
    }
    .bh--hero-img{
        display: none;
    }
    .container{
        padding:0 47px;
        display: flex;
        justify-content: center;
    }
    .bh--hero-img-desk{
        display: block;
        width: 100%;
        height: 545px;
    }
    .bh--hero-img-desk img{
        object-fit: cover;
        width: 100%;
        height: 679px; 
    }
    .bh-b--buttons{
        align-items: center;
    }
    .bh-b--buttons a{
        font-size: 24px;
    }
    .bh-b--earning{
        display: none;
    }
    .desk{
        display: block !important;
        width: auto;
    }
    .bh-b--order{
        width: auto;
    }
    /* block recommend */
    .br--background{
        height: 219px;
    }
    .br--wsie{
        width: 100%;
        align-self: center;
        text-align: center;
        padding: 85px 15px 83px 15px;     
    }
    .br--wsie p{
        font-size: 48px;
        text-align: center;
    }
    .br--wsie--select-box{
        display: inline-flex;
    }
    .c-what-should-I-eat__select{
        width: auto;
    }
    .bfs--container{
        display: flex;
    }
    .bfs-c--text-img{   
        flex-direction: row-reverse;
        display: flex;
        height: 420px;
    }
    .bfs-c--img, .bfs-c--text{
        width: 50%;
    }
    .bfs-c--text{
        word-break: break-word;
        font-size: 16px;
        line-height: 25px;
    }
    .bfs-c--img img{
        height: 100%;
    }
    .c-t-b-order{
        margin-top: 75px;
        display: inline-block;  
    }
    .brl--img img{
        max-height: 424px;
        height: auto;
    }
    .brl--title h1{
        font-size: 90px;
        color:#451400;
    }
    .brl-b--check{
        width: auto;
        display: inline-block;
    }
    .block-card-info{
        display: flex;
    }
    .bci--cards{
        flex-direction: column;    
        display: flex;
        height: 420px;
    }
    .bci--box{
        width: 100%;
    }
    .bf--container{
        display: flex;
    }
    .bf--icon{
        display: block;
    }
    .bf--icon img{
        height: 60px;
        width: 60px;
    }
    .bf--text{
        display: flex;
        font-size: 1rem;
        letter-spacing: 3.4px;
        padding-left: 22px;
        padding-right: 32px;
        align-items: center;
    }
    .bf--search{
        width: auto;
    }
    .bnf--container{
        display: inline-flex;
        flex-wrap:nowrap;
        width: auto;
        position: relative;
    }
    .bnf--links{
        margin: 0 84px 20px 0;  
        flex-basis: auto;
    }
    .bnf--s--d{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }
    .bnf-s-container{
        display: flex;
    }
    .footer-links{
        flex-basis: 0;
        -webkit-box-flex: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .bnf-s-buttons, .bnf-s-downloads, .footer-links{
        padding: 0 15px;
    }
    .footer-legals{
        display: flex;  
    }
    .fl--div{
        flex-basis: 100%;
        align-items: center;
        margin: 0;
        display: flex;
    }
    .fl-l--link, .fl-l--sublinks{
        font-size: 11px;
    }
    .legal-links{
        display: flex;
        flex-wrap: nowrap;
    }
    .ll--link{
       flex-basis: auto;
       padding: 8px !important;
    }
}
@media only screen and (min-width: 1274px){

    .br--container{
        display: flex;
    }
    .br--wsie{
        width: 100%;
        align-self: center;
        text-align: center;
        padding: 85px 15px 83px 15px;    
        justify-content: center;
        display: flex;
    }
    .br--wsie p{
        font-size: 48px;
        text-align: center;
    }
    .c-what-should-I-eat__select {
        font-size: 48px;
        padding-left: 10px;
    }
    .bfs--container, .block-real, .block-card-info, .bf--container, .bnf--wrapper{
        max-width: 1170px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}